body{
    background-color: #324e7b;
}
*{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
*, *:before, *:after {
box-sizing: border-box;
}

.container{
    border-radius: 10px;
    width: 20%; 
    height: 120px;
    margin: 0 auto; 
    border: none;
    padding: 40px 20px;
    text-align: center;
}

#show-form{
    border: none;
    padding: 10px; 
    border-radius: 4px; 
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

::placeholder{
    color: black;
    opacity: 1;
}
input[type=text], input[type=number], select {
padding:10px;
border:0;
box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
margin-bottom: 6px;
border-radius:10px;
width: 100%;
}

#submit {
appearance:none;
-webkit-appearance:none;
padding:10px;
border:none;
color:#fff;
font-weight:600;
border-radius:5px;
width:100%;
margin-top: 10px;
}

.card {
background: #dee1ec;
margin: 1rem;
box-shadow:0 0 15px 4px rgba(0,0,0,0.09);
border-radius: 20px;
padding: 0.5rem;
text-align: center;
padding-bottom: 40px;
margin-top: 40px;
}

#cards{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.card-btn{
text-decoration: none; 
border: none; 
padding: 4px 8px;
border-radius: 8px;
font-weight: bold;
}